In [20]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv("CongressAccounts.csv")
df.head()

  First Name Last Name           Handle State   Body  District Party
0       Alma     Adams         RepAdams    NC  House      12.0     D
1     Robert  Aderholt  Robert_Aderholt    AL  House       4.0     R
2       Pete   Aguilar   RepPeteAguilar    CA  House      31.0     D
3       Rick     Allen     RepRickAllen    GA  House      12.0     R
4      Colin    Allred   RepColinAllred    TX  House      32.0     D

In [39]:
np.unique(df['Party'])

array(['D', 'I', 'R'], dtype=object)

In [43]:
#First we want to create nodes for each Congressperson
names = np.array(df['First Name']) + " " + np.array(df['Last Name'])
handles = np.array(df['Handle'])

people_df = pd.DataFrame({"name:ID(Congresspeople-ID)" : names, "handle" : handles, ":LABEL" : np.repeat("Congressperson", len(names))})
people_df.to_csv("nodes/people.csv", index = False)
people_df.head()

  name:ID(Congresspeople-ID)           handle          :LABEL
0                 Alma Adams         RepAdams  Congressperson
1            Robert Aderholt  Robert_Aderholt  Congressperson
2               Pete Aguilar   RepPeteAguilar  Congressperson
3                 Rick Allen     RepRickAllen  Congressperson
4               Colin Allred   RepColinAllred  Congressperson

In [41]:
#Now we want to create nodes for each state, body, and party
names = np.unique(df['State'])
states_df = pd.DataFrame({"state:ID" : names, ":LABEL" : np.repeat("State", len(names))})

bodies = ['Senate', 'House']
bodies_df = pd.DataFrame({"body:ID" : bodies, ":LABEL" : np.repeat("Body", 2)})

parties = np.unique(df['Party'])
parties_df = pd.DataFrame({"party:ID" : parties, ":LABEL" : np.repeat("Party", 3)})

states_df.to_csv("nodes/states.csv", index = False)
bodies_df.to_csv("nodes/bodies.csv", index = False)
parties_df.to_csv("nodes/parties.csv", index = False)
states_df.head()

  state:ID :LABEL
0       AK  State
1       AL  State
2       AR  State
3       AS  State
4       AZ  State

In [44]:
#Now I need to draw edges from each congressperson to their party, state, and body
starts = np.array(df['First Name']) + " " + np.array(df['Last Name'])
from_ends = np.array(df['State'])
district = np.array(df['District'])
party_ends = np.array(df['Party'])
body_ends = np.array(df['Body'])

state_relationships = pd.DataFrame({":START_ID(Congresspeople-ID)" : starts, ":END_ID" : from_ends, ":TYPE" : np.repeat("from", len(starts)), "district" : district})
state_relationships.to_csv("relationships/state_relationships.csv", index = False)

party_relationships = pd.DataFrame({":START_ID(Congresspeople-ID)" : starts, ":END_ID" : party_ends, ":TYPE" : np.repeat("party affiliation", len(starts))})
party_relationships.to_csv("relationships/party_relationships.csv", index = False)

body_relationships = pd.DataFrame({":START_ID(Congresspeople-ID)" : starts, ":END_ID" : body_ends, ":TYPE" : np.repeat("in body", len(starts))})
body_relationships.to_csv("relationships/body_relationships.csv", index = False)

state_relationships.head()

  :START_ID(Congresspeople-ID) :END_ID :TYPE  district
0                   Alma Adams      NC  from      12.0
1              Robert Aderholt      AL  from       4.0
2                 Pete Aguilar      CA  from      31.0
3                   Rick Allen      GA  from      12.0
4                 Colin Allred      TX  from      32.0