In [2]:
import pandas as pd
import numpy as np

In [3]:
df_house = pd.read_csv("HouseAccounts.csv", sep="\t")
df_senate = pd.read_csv("SenateAccounts.csv")

In [4]:
df_house.head()

  FirstName  LastName    Twitter Handle St/Dis Party
0      Alma     Adams         @RepAdams   NC12     D
1    Robert  Aderholt  @Robert_Aderholt   AL04     R
2      Pete   Aguilar   @RepPeteAguilar   CA31     D
3      Rick     Allen     @RepRickAllen   GA12     R
4     Colin    Allred   @RepColinAllred   TX32     D

In [5]:
df_senate.head()

,LastName,FirstName,Handle,Link,State,Party
0,Murkowski,Lisa,lisamurkowski,https://twitter.com/lisamurkowski,AK,R
1,Sullivan,Dan,SenDanSullivan,https://twitter.com/SenDanSullivan,AK,R
2,Shelby,RichardC.,SenShelby,https://twitter.com/SenShelby,AL,R
3,Tuberville,Tommy,SenTuberville,https://twitter.com/SenTuberville,AL,R
4,Boozman,John,JohnBoozman,https://twitter.com/JohnBoozman,AR,R

In [6]:
house_states = []
body = []
districts = []
handles = []
for st_dis in df_house['St/Dis']:
    house_states.append(str(st_dis)[:2])
    body.append('House')
    districts.append(int(str(st_dis)[2:]))
    
for handle in df_house['Twitter Handle']:
    handles.append(handle[1:])
    
df_house['State'] = house_states
df_house['Body'] = body
df_house['District'] = districts
df_house['Twitter Handle'] = handles

In [7]:
df_house.head()

  FirstName  LastName   Twitter Handle St/Dis Party State   Body  District
0      Alma     Adams         RepAdams   NC12     D    NC  House        12
1    Robert  Aderholt  Robert_Aderholt   AL04     R    AL  House         4
2      Pete   Aguilar   RepPeteAguilar   CA31     D    CA  House        31
3      Rick     Allen     RepRickAllen   GA12     R    GA  House        12
4     Colin    Allred   RepColinAllred   TX32     D    TX  House        32

In [8]:
first_names = list(df_house['FirstName']) + list(df_senate['FirstName'])
last_names = list(df_house['LastName']) + list(df_senate['LastName'])
twitter_handles = list(df_house['Twitter Handle']) + list(df_senate['Handle'])
state = list(df_house['State']) + list(df_senate['State'])
body = list(df_house['Body']) + list(np.repeat('Senate', 100))
district = list(df_house['District']) + list(np.repeat('N/A', 100))
party = list(df_house['Party']) + list(df_senate['Party'])

print(len(first_names), len(last_names), len(twitter_handles), len(state), len(body), len(district), len(party))

544 544 544 544 544 544 544

In [9]:
df_congress = pd.DataFrame({"First Name" : first_names, "Last Name" : last_names, "Handle" : twitter_handles, "State" : state, "Body" : body, "District" : district, "Party" : party})

In [10]:
df_congress.to_csv("CongressAccounts.csv", index = False)